.carousel {
  .slick-carousel {
    .carousel__item {
      height: 800px;
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $layer;
        z-index: 99;
      }
      .carousel__item__info {
        
        position: relative;
        top: 200px;
        z-index: 100;

        h3 {
          @include styleText(65px, 800, $white-color);
          max-width: 800px;
          margin-bottom: 18px;
        }
        p {
          @include styleText(20px, 400, $white-color);
          letter-spacing: 0.2px;
          max-width: 600px;
        }
        a {
          margin-top: 30px;
        }
      }
    }
  }
  .shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    path{
      fill: $bg-color;
    }
  }
}

@for $i from 1 through 4 {
  .bg-#{$i} {
    background-image: url(/images/b#{$i}.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}
