.header {
  height: 100px;
  transition: height 0.5s;
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  .navbar {
    padding: 0;
    .navbar-brand {
      > .fa {
        color: $primary-color;
        font-size: 30px;
      }
      @include styleText(30px, 600, $white-color);
      line-height: 30px;
      p {
        @include styleText(14px, 600, $white-color);
        opacity: 0.9;
        padding-left: 46px;
        line-height: 16px;
      }
    }
    .collapse {
      ul {
        .active a {
          opacity: 1;
          color: $white-color;
        }
        li {
          padding: 0 10px;
          .dropdown-menu {
            border-radius: $border-radius;
            a {
              text-transform: uppercase;
              @include styleText(15px, 600, $heading-color);
              padding: 6px 20px;
              transition: all 0.5s ease;
              opacity: 0.8;
              &:hover {
                opacity: 1;
              }
            }
          }
          > a {
            @include styleText(15px, 600, $white-color);
            opacity: 0.8;
            text-transform: uppercase;
            padding: 14px 0 10px;
            transition: all 0.5s ease;
            &:hover {
              opacity: 1;
              color: $white-color;
            }
          }
        }
      }
    }
  }
}

.header__search {
  i:first-child {
    color: $primary-color;
    font-size: 1rem;
    color: $white-color;
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background-color: $primary-color;
    margin-right: 15px;
  }
  i:last-child {
    font-size: 1.2rem;
    color: $white-color;
  }
}

.custom-header {
  background-color: $bg-color;
  height: 80px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  transition: height 0.5s;
  .navbar {
    .navbar-brand {
      color: $heading-color;
      p {
        color: $heading-color;
      }
    }
    .collapse {
      .navbar-nav {
        .active a {
          color: $primary-color;
        }
      }
      ul {
        li {
          a {
            color: $font-color;
            &:hover {
              color: $font-color;
            }
          }
        }
      }
    }
  }
  .header__search {
    i:last-child {
      font-size: 1.2rem;
      color: $font-color;
    }
  }
}
